<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width , initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="=IE-edge">
        <title>ABOUT</title>
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="/javascript.js/cursor.js">
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head> 
    <body>

    
        <header>    
            <a  href="" id="logo" ><img src="../images/logo.png" width="50px" height="40px">PORTFOLIO</a>
        <abbr title="Nav bar"><details><summary><i class="fa-solid fa-bars fa-beat-fade" style="color: #ea1026;"></i></summary><div class="nav" id="nav1">
        <a href="../index.html" id="home">HOME</a>
        <a href="#">ABOUT</a>
        <a href="../Templates/skill.html">SKILLS</a>
        <a href="../Templates/Project.html">PROJECTS</a>
        <a href="../Templates/contact.html">CONTACT</a>     

        </div></details> </abbr>   
        </header>
        
     <section class="content">
        <h1 class="heading">About  <span>Me</span></h1>
        <aside>
            <div class="name">
               <p>Mahendra</p>
               <p>Vakkalagadda</p>

            </div>
            <div class="img">
             <img src="../images/WhatsApp_Image_2024-10-20_at_20.08.42_dd138e59-removebg-preview.png" alt="img">
        </div></aside>
        <div class="about">
             <p> A dedicated web developer with a BTech in Computer Science and over two years of experience in creating impactful digital solutions.</br>
            My expertise lies in both front-end and full-stack development, allowing me to deliver comprehensive web applications.</br><p>
                <section class="education">
                    <h2>Education</h2>
                    <div class="timeline">
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-content">
                                <h3>🔹 Aug 2022-May 2026</h3>
                                <h4><strong>Vel Tech Rangarajan Dr. Sagunthala RD Institute of Science and Technology</strong></h4>
                             
                                <p>Bachelor of Technology - Computer Science and Engineering</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-content">
                                <h3>🔹 July 2020 – May 2022</h3>
                                <h4><strong>Vijaya Junior College</strong></h4>
                                
                                <p>High School</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-content">
                                <h3>🔹 May 2020</h3>
                                <h4><strong>Challapalli Public School</strong></h4>
                             
                                <p>School</p>
                            </div>
                        </div>
            
                    </div>
                </section> 
                
                <section class="contentbutton">
                    <a href="../Templates/contact.html">Contact Me
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                    </a>
                 </section>
 <footer>
<div>
    
</div>
 </footer>
             
   

    
<script src="/javascript.js/index.js"></script> 

    </body>
</html>