<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>

    <header>    
        <a  href="" id="logo" ><img src="../images/logo.png" width="50px" height="40px">PORTFOLIO</a>
    <details><summary><i class="fa-solid fa-bars fa-beat-fade" style="color: #ea1026;"></i></summary><div class="nav" id="nav1">
    <a href="../index.html" id="home">HOME</a>
    <span class="hide">
    <a href="../Templates/about.html">ABOUT</a>
    <a href="../Templates/skill.html">SKILLS</a>
    <a href="../Templates/Project.html">PROJECTS</a>
    <a href="#">CONTACT</a>     
</span>
    </div></details>    
    </header>
    <div id="tophead"><h1>Contact <span>Me</span></h1></div>
<section class="allsection">
<section class="info">
    <div><h4>Let's Work Together</h4></div></br>
   
    <a href="mailto:mahendravakkalagadda@gmail.com"><i class="fa-solid fa-envelope fa-bounce" style="color: red;"></i>  mahendravakkalagadda@gmail.com</a></br>
    <a href="tel:9391209431"><i class="fa-solid fa-phone fa-shake" style="color:red"></i>  9391209431</a></br>
    

</section>


</section>  
<section class="logo">
    <a href="https://www.instagram.com/mahendra./profilecard/?igsh=dmk4eWF4Z2hmdHBh"><i class="fa-brands fa-instagram" style="color:red;"></i></a>
    <a href="https://github.com/Mahendra4876"><i class="fa-brands fa-github" style="color: red;"></i></a>
    <a href="https://www.linkedin.com/in/mahendra-vakkalagadda-b9a214343/"><i class="fa-brands fa-linkedin"style="color: red;"></i></a>
    
</section>

</body>
<script src="../javascript.js/contact.js"></script>
</html>