*{
    margin:0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    
    

}
body{
    font-family: 'Open Sans', sans-serif;
    height: auto;
    background-color:black;
    

}

header {
    height:20%;
    width:auto;
    display:flex;
    padding: 35px;
    z-index: 99;
    margin-left: 0%;
    transition: all 1s steps(11);
    justify-content: space-between;
    font-family:'Merriweather', serif;
    }
      header a:hover{
        font-size: 20px;
        color:red;
        text-shadow: 5px 10px 15px;
        /* width:10px;
        height:20px;
        background-color:;
        border-radius: 10px;
        padding:5px; */
    
        }
    
    .nav a{
        margin-left:40px;
        cursor: pointer;
        padding: 20px;
    }
    summary{
        
        cursor: pointer;
    }
    summary{
        font-size: 30px;
    }
    header #home{
        margin-left: 0px;
    }
    
    
    
    @media(max-width:860px){
        
        header {
    
            height:100%;
            width:auto;
            display: flex;
            }
            header a:hover{
                font-size: 20px;
                color:red;
                text-shadow: 5px 10px 15px;
                
                }
            .nav{
                margin-left:30%;
                display: grid;
                height:100%;
                width:20%;
                position:fixed;
                padding:15PX;
                z-index: 99;
                background-color:transparent;
                right: 0px;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0) ;
                
            
                }
            .nav a:hover{
                height:20px;    
                width:80px;
                background-color: red;
                padding: 20px;
                border-radius:50%;
                
                
            }
            .nav a:hover{
                background-color:white;
                color:red;
                
            box-shadow:0 0 30px red,0 0 50px red,0 0 90px red,0 0 120px red;
            }
           details{
            cursor: pointer;
            }
    }


 .content{
    display: flex;
    width:auto
 }
.img{
    content:url(../images/WhatsApp\ Image\ 2024-10-18\ at\ 13.55.16_d3acb24a.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    height:176%;
    width: 36%;
    border-radius:10%;
    position: relative;
    margin: 100px;
    margin-right:5%;
    margin-left:10%;
    margin-bottom: 0px;
    box-shadow: 0 0 25px red,
    0 0 35px red;
    animation: moveup 10s ease-in-out infinite;
    transition: all 2s linear ;
    
}
/* @keyframes moveup{
    0%,100%{
        transform:translateY(0)
    }
    50%{
        transform: translateY(-30px)
    }
} */
.img:hover{
    box-shadow: 0 0 30px red,0 0 50px red,0 0 70px red,0 0 90px red,0 0 120px red;
    
}
.about{
    margin-top:100px;
    margin-left: 60px;
    transition: all 2s ease-in-out;
    width:auto;
    margin-bottom: 0%;

}
.about h1{
    font-size: 60px;

}
.about .text{
    font-size:25px;

}
.about h3{
  font-size: 40px;
}
.about h4 span{
    color:red;
    font-size:20px;
    font-weight: 300px;
}
.about p {
   
    margin-top: 10px;   
    font-family: 'Arial', sans-serif; 
}
.logo{
    margin-top: 40px;    
    font-size: 25px;
    
}
.logo a  {
    
    width:50px;
    height:50px;
    border-radius:30px;
    padding: 10px;
    border: 5px solid red;
    margin-left: 20px;
    

}
.logo a:hover {

    border-radius:30px;
    padding: 10px;
    border: 5px solid red;
    color:black;
    background-color: red;
    box-shadow: 0 0 300px red,0 0 40px red,0 0 70px red,0 0 120px red,0 0 150px red;

}
.contentbutton a {
    position: absolute;
    display:inline-block;
    height:20px;
    width:auto;
    padding:15px 30px;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 30%;
    transition: .5s;
    overflow: hidden;
    background-color:white;
    box-shadow: 0 0 20px white,0 0 50px white;
    color: black;

}
.contentbutton a:hover{
    background-color:red;
    color:white;
    box-shadow: 0 0 30px red,0 0 50px red,0 0 90px red,0 0 120px red;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
    scale:1.1;
} 
.contentbutton a:first-child{
filter: hue-rotate(9deg);
} 
.contentbutton a span{
    position: absolute;
    display: block;
}
.contentbutton a span:nth-child(1){
    top:0;
    left:0;
    width:100%;
    height:2px;
    background-color: linear-gradient(90deg, transparent,red);
    animation: animatel 1s infinite;
}
@keyframes animatel{
    0%{
        left:-100%;
    
    }
    100%{
        left:100%;
    }
}
.contentbutton a span:nth-child(2){
    top:-100%;
    right:0;
    width:2px;
    height:100%;
    background-color: linear-gradient(180deg, transparent,red);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}
@keyframes animate2{
    0%{
        top:-100%;
    
    }
    100%{
        top:100%;
    }
}
.contentbutton a span:nth-child(3){
    bottom:0;
    right:0;
    width:100%;
    height:2px;
    background-color: linear-gradient(270deg, transparent,red);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}
@keyframes animate3{
    0%{
        right:-100%;
    
    }
    100%{
        right:100%;
    }
}
.contentbutton a span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background-color: linear-gradient(360deg, transparent,red);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}
@keyframes animate4{
    0%{
        bottom:-100%;
    
    }
    100%{
        bottom:100%;
    }
}
@media (max-width: 860px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .img {
        
        height:176%;
        width: 46%;
        border-radius:10%;
        position: relative;
        margin: 50px;
        margin-right:5%;
        margin-left:10%;
        margin-bottom: 0px;
        
        
    }

    .about {
        padding: 1rem;
        max-width: 800px;
        margin: auto;
      }
      
      .about h1,
      .about h3,
      .about h4 {
        margin-bottom: 0.5rem;
      }
      .about h1{
        font-size:45px ;
      }
      
      .about p {
        margin-bottom: 1rem;
        line-height: 1.6;
      }
      

    /* .logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 20px;
    }

    .logo a {
        margin: 10px;
    } */

    /* .contentbutton a {
        margin-left: 0;
        position: relative;
        font-size: 14px;
        padding: 12px 25px;
        margin-top: 30px;
    } */
    .logo a  {
        
        width:50px;
        height:50px;
        border-radius:30px;
        padding: 1%;
        border: 5px solid red;
        margin-left: 20px;
        
    
    }
    .logo a:hover {
    
        border-radius:30px;
        padding: 10px;
        border: 5px solid red;
        color:black;
        background-color: red;
        box-shadow: 0 0 30px red,0 0 50px red,0 0 70px red,0 0 90px red,0 0 120px red;
    
    }
    .contentbutton a {
        position: absolute;
        display:inline-block;
        height:20px;
        width:auto;
        padding:15px 30px;
        margin-top: 5%;
        margin-left: 3.9%;
        margin-bottom: 300px;
        transition: .5s;
        overflow: hidden;
        background-color:white;
        box-shadow: 0 0 20px white,0 0 50px white;
        color: black;
    
    }
    .contentbutton a:hover{
        background-color: red;
        color:white;
        box-shadow: 0 0 30px red,0 0 50px red,0 0 90px red,0 0 120px red;
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
        scale:1.1;
    } 
}
@media(max-width:440){
    .content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .img {
        width: 60%;
        height: auto;
        margin: 20px 0;
        border-radius: 50%;
    }

}
    